/* Menu Open/Close Start */
header.desktop-header {
    background: #FFF;
    border-right: solid 1px #ececec;
    padding: 40px 30px 40px 40px;
    position: fixed;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    min-height: 100vh;
    top: 0;
    width: 240px;
    z-index: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.main-layout {
    margin-left: 240px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.main-layout.open {
    opacity: 0.4;
    -webkit-transform: translateX(240px);
    transform: translateX(240px);
}
/* Menu Open/Close Close */

/* Home Start */
main.content {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
section {
    border-top: solid 1px #ececec;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    height: 100%;
    width: 100%;
}
section.home {
    border-top: 0;
    padding: 0;
    height: 100vh;
    min-height: 100vh;
}
section.home .home-content{
    margin: auto;
    max-width: 540px;
    margin: 0 503px;
}
section.home .home-content h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 57.6px;
    margin-bottom: 50px;
    color: #000;
}
section.home .home-content p{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #888;
    line-height: 30px;
}
.scroll-down {
    position: absolute;
    bottom: 40px;
    left: -40px;
    width: 100%;
}  
.mouse {
    border: solid 3px #000;
    border-radius: 16px;
    display: block;
    margin: auto;
    height: 34px;
    position: relative;
    width: 25px;
    cursor: pointer;
}
.mouse .wheel {
    background: #000;
    border-radius: 100%;
    display: block;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    width: 5px;
    -webkit-animation: ani-mouse 3s linear infinite;
    -moz-animation: ani-mouse 3s linear infinite;
    animation: ani-mouse 3s linear infinite;
}
@keyframes ani-mouse {
    0% {
        top: 29%;
    }
    15% {
        top: 50%;
    }
    50% {
        top: 50%;
    }
    100% {
        top: 29%;
    }  
}
/* Home End */

/* Services Start */
.icon.square {
    color: #FFF;
    font-size: 30px;
    background: #9013FE;
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 60px;
}
.services-box h4{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;
}
.services-box p{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    line-height: 24px;
    color: #888;
}
/* Services End */

/* Skills Start */
.skills-item h4{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.skills-item span{
    font-family: 'Lato', sans-serif;
    color:#888;
    font-size: 14px;
}
.skills-item .skills-info{
    margin-bottom: 17px;
}
.skills-item .progress {
    height: 5px;
    margin-bottom: 0;
    overflow: hidden;
    background-color: #e9e9e9;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.skills-item .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 5px;
    color: #fff;
    text-align: center;
    background-color: #9013FE;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.skills-item .coding.progress-bar{
    width: 90%;
    animation: coding 1.2s ease-in-out;
}
.skills-item .wordpress.progress-bar{
    width: 75%;
    animation: wordpress 1.2s ease-in-out;
}
.skills-item .sketch.progress-bar{
    width: 85%;
    animation: sketch 1.2s ease-in-out;
}
.skills-item .jQuery.progress-bar{
    width: 88%;
    animation: jQuery 1.2s ease-in-out;
}
@keyframes coding{ 
	0%{
		width: 0%;
	}
	100%{
		width: 90%;
	}
} 
@keyframes wordpress{ 
	0%{
		width: 0%;
	}

	100%{
		width: 75%;
	}
} 
@keyframes sketch{ 
	0%{
		width: 0%;
	}
	100%{
		width: 85%;
	}
} 
@keyframes jQuery{ 
	0%{
		width: 0%;
	}

	100%{
		width: 88%;
	}
} 
/* Skills End */

/* Experiences Start */
.timeline{
    position: relative;
}
.timeline .timeline-container{
    position: relative;
    padding-left: 50px;
    margin-bottom: 100px;
    background-color: inherit;
    width: 100%;
}
.timeline .content{
    position: relative;
}
.timeline .content span{
    color: #999;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}
.timeline .content h4{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 20px 0;
}
.timeline .content p{
    font-size: 16px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    color:#888;
}
.timeline .timeline-container:last-of-type {
    margin-bottom: 0;
}
.timeline .timeline-container::after {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    left: 0;
    background-color: #9013FE;
    top: 7px;
    z-index: 1;
}
.timeline span.line {
    position: absolute;
    width: 1px;
    background-color: #ececec;
    top: 7px;
    bottom: 0;
    left: 4px;
}
/* Experiences End */

/* Works Start */
.portfolio-filter {
    margin-bottom: 49px;
}
.portfolio-filter li {
    color: #777;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}
.portfolio-filter li:after {
    content: '';
    background: #9013FE;
    width: 100%;
    height: 0;
    left: 0;
    opacity: .5;
    bottom: 1px;
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.portfolio-filter li:hover {
    color: #000;
}
.portfolio-filter li:hover:after {
    height: 7px;
}
.portfolio-filter li.current {
    color: #000;
}
.portfolio-filter li.current:after {
    content: '';
    background: #9013FE;
    width: 100%;
    height: 7px;
    left: 0;
    opacity: .5;
    bottom: 1px;
    position: absolute;
    z-index: -1;
}
.portfolio-filter li:not(:last-child) {
    margin-right: 1.8rem;
}
.portfolio-item{
    position: relative;
    overflow: hidden;
}
.portfolio-item .details{
    color: #FFF;
    position: absolute;
    padding: 0 30px;
    bottom: 25px;
    width: 100%;
    z-index: 1;
}
.portfolio-item .details h4{
    color: #FFF;
    margin: 0 0 4px;
    opacity: 0;
    transform: translateY(30px);
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
}
.portfolio-item:hover .details h4, .portfolio-item:hover .details span{
    opacity: 1;
    transform: translateY(0);
}
.portfolio-item .details span{
    font-size: 11px;
    text-transform: uppercase;
    opacity: 0;
    display: inline-block;
    transform: translateY(40px);
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.portfolio-item .details span:after{
    content: ",";
    margin-right: 4px;
}
.portfolio-item .details span:last-child::after {
    content: "";
    margin-right: 0;
}
.portfolio-item .thumb {
    overflow: hidden;
}
.portfolio-item .thumb img{
    max-width: 100%;
    height: auto;
}
.portfolio-item .mask {
    background: #9013FE;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.9;
    height: 100%;
    width: 100%;
    -webkit-transform: translateY(110%);
    -ms-transform: translateY(110%);
    transform: translateY(110%);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.portfolio-item:hover .mask {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    cursor: pointer;
}
.pf-filter-wrapper{
    display: none;
    position: relative;
}
select.portfolio-filter-mobile{
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    border: solid 2px #000;
    border-radius: 0;
    outline: 0;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
}
/* Works End */

/* Fun Facts Start */
.facts-item{
    padding: 30px 15px;
    border:solid 1px #ececec;
}
.icon.simple{
    color:#9013fe;
    font-size: 36px;
}
.facts-item h3{
    font-size: 30px;
}
.facts-item h3 em {
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 36px;
}
.facts-item p{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: #888;
    line-height: 22.5px;
}
/* Fun Facts End */

/* Prices Start */
.prices-item{
    border:1px solid #ececec;
    padding: 40px 70px;
    color: #888;
    font-family: 'Lato', sans-serif;
}
.prices-item .plan{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    background: #9013FE;
    padding: 2px 10px;
}
.prices-item .price{
    font-size: 48px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    margin: 30px 0 20px;
    color: #000;
}
.prices-item .price em{
    font-style: normal;
    font-size: 20px;
    vertical-align: super;
    margin-right: 10px;
}
.prices-item ul{
    margin-bottom: 0;
}
.prices-item ul li {
    line-height: 2.1;
}
ul.styled{
    list-style: none;
    margin-left: -29px;
}
ul.styled li:before {
    content: '';
    background: #9013FE;
    display: inline-block;
    height: 5px;
    margin-right: 20px;
    vertical-align: middle;
    width: 5px;
}
.prices-item.best{
    color:#fff;
    background: #9013fe;
}
.prices-item.best .plan{
    background:#fff;
    color: #9013fe;
}
.prices-item.best .price{
    color: #fff;
}
.prices-item.best ul li:before{
    background: #fff;
}
/* Prices End */

/* Testimonial Start */
.test-items{
    max-width:700px;
}
.test-items span.symbol{
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
    color: #9013fe;
    line-height: 1;
}
.test-items .thumbnail{
    border-radius: 50%;
    overflow: hidden;
    height: 80px;
    width: 80px;
}
.test-items p{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    color: #888;
}
.test-items h4{
    font-size: 18px;
    font-weight: 700;
    font-family:'Montserrat',sans-serif;
    line-height: 21.6px;
}
/* Testimonial End */

/* Blogs Start */
.blogs-link{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    margin-top: 8px;
}
.blogs-item .thumbnail{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.blogs-item h4{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    line-height: 21.6px;
    cursor: pointer;
}
.blogs-item h4:hover{
    color: #9013FE;
    transition: 0.3s;
}
.blogs-item .meta{
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    color:#888;
    text-transform: uppercase;
    letter-spacing: 0.77px;
    cursor: pointer;
}
.blogs-item .meta .icon-notes:after{
    content: '';
    background: #9013FE;
    display: inline-block;
    height: 6px;
    margin-left: 1rem;
    vertical-align: middle;
    width: 5px;
}
.blogs-item .meta .icon-names{
    color: #000;
}
.blogs-item .meta .icon-names:hover{
    color: #9013FE;
    transition: 0.3s;
}
.blogs-item .meta li:not(:last-child){
    margin-right: 1rem;
}
.blogs-item .category{
    position: absolute;
    font-size: 11px;
    background: #9013fe;
    color:#fff;
    padding: 2px 8px;
    z-index: 1;
    top: 20px;
    right: 20px;
    text-transform: uppercase;
}
.blogs-list .blogs-item .thumbnail{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.blogs-list .blogs-item .thumbnail img{
    max-width: 100%;
    height: auto;
    object-position: center;
    object-fit: cover;
    transition: 0.3s;
}
.blogs-list .blogs-item .thumbnail:hover img{
    transform: scale(1.1);
}
/* Blog End */

/* Clients Start */
.clients-item{
    border: solid 1px #ececec;
    padding: 25px;
    min-height: 80px;
    position: relative; 
}
.clients-item .inner{
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
}
.clients-item .inner img{
    display: inline-block;
}
/* Clients End */

/* Contact Start */
.contact-item h4{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    line-height: 18px;
    margin-top: 12px;
    margin-bottom: 14px;
}
.contact-item p{
    color:#888;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 16px;
}
.contact-form .form-control {
    display: block;
    border-radius: 0;
    width: 100%;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #333;
    background-color: #FFF;
    background-image: none;
    border: solid 1px #ECECEC;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.contact-form .form-control:focus {
    border-color: #9013FE;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.contact-form .form-group {
    margin-bottom: 30px;
}
.btn-submitmessage{
    margin-top: -46px;
}
/* Contact End */

/* Menu Mobile Start */
header.mobile-header{
    background: #fff;
    border-bottom: 1px solid #ececec;
    transition: all 0.3s ease-in-out;
}
header.mobile-header.open {
    -webkit-transform: translateX(240px);
    transform: translateX(240px);
}
header.mobile-header .menu-icon button{
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: 0;
    padding: 0;
    height: 33px;
    width: 33px;
}
header.mobile-header .menu-icon span {
    display: block;
    background: #000;
    height: 4px;
    position: relative;
    width: 20px;
}
header.mobile-header .menu-icon span:before {
    content: "";
    display: block;
    background: #000;
    height: 4px;
    top: -10px;
    position: absolute;
    width: 30px;
}
header.mobile-header .menu-icon span:after {
    content: "";
    display: block;
    background: #000;
    height: 4px;
    top: 10px;
    position: absolute;
    width: 10px;
}
header.mobile-header .site-logo img{
    max-width: 50px;
    max-height: 50px;
    margin-right: 16px;
    display: inline-block;
}
header.mobile-header .site-title{
    font-size: 18px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    display: inline-block;
}
/* Menu Mobile End */

/* Return Start */
#return-to-top{
    position: fixed;
    bottom: 40px;
    right: 40px;
    background: #000;
    background: rgba(0,0,0,0.5);
    width: 40px;
    height: 40px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    display: none;
    z-index: 4;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
#return-to-top:hover{
    background: #9013fe;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 12px;
    top: 8px;
    font-size: 16px;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
/* Return End */